{% extends "base.html" %}


{% block content %}
    <div class="container my-5">
        <table class="table table-secondary" >
            <thead>
            <tr>
                <th scope="col">Пост</th>
                <th scope="col">Имя</th>
                <th scope="col">Email</th>
                <th scope="col">Коментарий</th>
                <th scope="col">Дата</th>
                <th scope="col">Статус</th>
            </tr>
            {% for comment in comment_list %}
            <tr class="table-warning">
                <td>{{ comment.post }}</td>
                <td>{{ comment.name }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.body }}</td>
                <td>{{ comment.created_on }}</td>
                <td>{{ comment.active }}</td>
                <td><a href="{% url 'updatecomment' comment.id %}"><button class="btn btn-warning" type="button">Модерация</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}