main {
  padding-top: 13px;
  padding-bottom: 100px;
  background: #F0F2F5;
}
@media (max-width: 740px) {
  main {
    padding-top: 23px;
  }
}
main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 15px;
}
main .main .setting {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 530px;
          flex: 0 1 530px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1.33333px 33.3333px rgba(169, 222, 249, 0.24);
          box-shadow: 0px 1.33333px 33.3333px rgba(169, 222, 249, 0.24);
  border-radius: 20px;
  padding: 15px 46px 160px 22px;
}
main .main .setting h3 {
  background: #F0F2F5;
  padding: 9px 15px 10px 15px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12.1738px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
}
main .main .setting .avatar {
  width: 100px;
  margin: 17px auto;
}
main .main .setting .avatar img {
  width: 100%;
}
main .main .settingForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 80px;
  gap: 20px;
}
main .main .settingFormE {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
main .main .settingFormE label {
  font-weight: 700;
  font-size: 10px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
main .main .settingFormE input, main .main .settingFormE textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 266px;
          flex: 0 1 266px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
  background: #F0F2F5;
}
main .main .settingFormE input:focus, main .main .settingFormE textarea:focus {
  color: #040404;
  font-size: 12px;
}
main .main .settingForm .forTextarea {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
main .main .settingForm .forTextarea label {
  margin-left: -5px;
}
main .main .settingForm .forTextarea textarea {
  resize: none;
  height: 77px;
}
main .main .settingFormDate {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
main .main .settingFormDate label {
  font-weight: 700;
  font-size: 10px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
main .main .settingFormDate input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
  background: #F0F2F5;
}
main .main .settingFormDate .forDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
main .main .settingFormDate .forDate input {
  width: 50px;
  padding: 2px 5px;
  text-align: center;
}
main .main .settingFormDate .forDate input:focus {
  color: #040404;
  font-size: 12px;
}
main .main .settingFormDate .forDate input::-webkit-outer-spin-button, main .main .settingFormDate .forDate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main .main .settingFormDate select {
  background: #F0F2F5;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 10px;
  width: 144px;
  height: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
main .main .settingFormDate select option {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3a3939;
  background: #babcbe;
}
main .main .settingActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 12px;
}
main .main .settingActions input {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DC8400;
  border-radius: 20px;
  outline: none;
  font-family: "Arial";
  padding: 2px 40px;
  font-weight: 700;
  font-size: 10px;
  line-height: 21px;
  color: #DC8400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
main .main .settingActions input:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}
main .main .settingActions .save {
  background: #DC8400;
  color: #FFFFFF;
  border: none;
}
main .main .settingNav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 9px 10px 20px;
  background: #FFFFFF;
  border-radius: 15.3648px;
}
main .main .settingNav h3 {
  background: #F0F2F5;
  padding: 9px 15px 10px 17px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12.1738px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
main .main .settingNav ul {
  margin-left: 30px;
  list-style-type: none;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .main .settingNav ul .settingNavActive > a {
  color: rgba(0, 0, 0, 0.8);
}
main .main .settingNav ul li > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 12.1738px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
}