body {
  height: calc(100vh - 102px);
}

main {
  padding-top: 13px;
  background: #F0F2F5;
}
@media (max-width: 740px) {
  main {
    padding-top: 23px;
  }
}
main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
}
main .main .success {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 460px;
          flex: 0 1 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
main .main .success .galka {
  width: 105px;
}
main .main .success .galka img {
  width: 100%;
}
main .main .success h1 {
  font-weight: 700;
  font-size: 32.3113px;
  line-height: 37px;
  text-align: center;
  width: 355px;
  color: #3F3D56;
}
main .main .success a {
  display: block;
  width: 100%;
  text-decoration: none;
  background: #DC8400;
  font-weight: 700;
  font-size: 12.26394px;
  line-height: 42px;
  letter-spacing: 0.198513px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5.29368px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .main .success a:hover {
  font-size: 14px;
}