<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fonts/Segoe/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Sora/stylesheet.css' %}">

    {% block links %}
    {% endblock %}

    <title>Kurultai beta</title>
</head>
<body>
    <div class="wrapper">
        <header id="headerJs">
            <div class="container">
                <div class="menuInner">
                    <a href=""><div class="menuLogo"><img src="{% static 'images/header/logo.svg' %}" alt="logo"></div></a>
                    <form action="" class="search">
                        <div class="searchButton"><img src="{% static 'images/header/search.svg' %}" alt=""></div>
                        <input id="search" placeholder="Поиск обсуждений, людей..." type="search">
                    </form>
                    {% if user.is_authenticated %}
                    <div class="menuRight">
                        <div class="ava">
                            <a href="profile.html" class="avaImg"><img src="{% static 'images/header/ava.svg' %}" alt="image"></a>
                            <div class="avaArow"><img src="{% static 'images/header/down.svg' %}" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsE"><img src="{% static 'images/header/setting.svg' %}" alt="image"></div>
                            <div class="menuActionsE"><img src="{% static 'images/header/lamp.svg' %}" alt="image"></div>
                            <div class="menuActionsE"><img src="{% static 'images/header/notification.svg' %}" alt="image"></div>
                        </div >
                    </div>
                    {% else %}
                    <div class="menuAftoriz">
                        <button class="avtorizBtn">Войти</button>
                        <button class="registrBtn">Зарегистрироваться</button>
                    </div>
                    <div class="menuRight">
                        <div class="menuActions" >
                            <div class="menuActionsE"><img src="{% static 'images/header/setting.svg' %}" alt="image"></div>
                            <div class="menuActionsE"><img src="{% static 'images/header/lamp.svg' %}" alt="image"></div>
                            <div class="menuActionsE"><img src="{% static 'images/header/notification.svg' %}" alt="image"></div>
                        </div >
                    </div>
                    {% endif %}

                </div>
            </div>
        </header>

        {% block content %}

        {% endblock %}
        <footer class="footer">
            <div class="footerInner">
                <a href="index.html">
                    <div><img src="{% static 'images/modileFooter/home.svg' %}" alt=""></div>
                </a>
                <a href="delegats.html">
                    <div><img src="{% static 'images/modileFooter/people.svg' %}" alt=""></div>
                </a>
                <a href="chats.html">
                    <div><img src="{% static 'images/modileFooter/message.svg' %}" alt=""></div>
                </a>
                <a href="profile.html">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
            </div>
        </footer>
    </div>
</body>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</html>