<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="fonts/Segoe/stylesheet.css">
    <link rel="stylesheet" href="fonts/Sora/stylesheet.css">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/chat1.css">
    <title>Kurultai beta</title>
</head>
<body>
    <div class="wrapper">
        <header id="headerJs">
            <div class="container">
                <div class="menuInner">
                    <a href="#"><div class="menuLogo"><img src="images/header/logo.svg" alt="logo"></div></a>
                    <form action="" class="search">
                        <div class="searchButton"><img src="images/header/search.svg" alt=""></div>
                        <input id="search" placeholder="Поиск обсуждений, людей..." type="search">
                    </form>
                    <div class="menuRight">
                        <div class="ava">
                            <a href="profile.html" class="avaImg"><img src="images/header/ava.svg" alt="image"></a>
                            <div class="avaArow"><img src="images/header/down.svg" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsE"><img src="images/header/setting.svg" alt="image"></div>
                            <div class="menuActionsE"><img src="images/header/lamp.svg" alt="image"></div>
                            <div class="menuActionsE"><img src="images/header/notification.svg" alt="image"></div>
                        </div >
                    </div>
                    <div class="menuBurger" id="menu">
                        <span></span>
                    </div>
                    <div class="burgerActive hide" >
                        <div class="ava forProfile" >
                            <div class="avaImg"><img src="images/header/ava.svg" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsEb"><img src="images/header/setting.svg" alt="image"></div>
                            <div class="menuActionsEb"><img src="images/header/lamp.svg" alt="image"></div>
                            <div class="menuActionsEb"><img src="images/header/notification.svg" alt="image"></div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li>
                                    <a href="indexActive.html">
                                        <div><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Лента</h4>
                                    </a>
                                </li>
                                <li class="listActive">
                                    <a href="chats.html">
                                        <div> <span>2</span><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Сообщения</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="delegats.html">
                                        <div><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Делегаты</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="rubrics.html">
                                        <div><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Рубрики</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <div><img src="images/profile/profile.svg" alt="list"></div>
                                        <h4>Профиль</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="profileSettings">
                            <h3>Настройки</h3>
                            <ul>
                                <li>
                                    <a href="settings.html">
                                        <div><img src="images/profile/settings.svg" alt=""></div>
                                        <h4>Настройки</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="security.html">
                                        <div><img src="images/profile/security.svg" alt=""></div>
                                        <h4>Безопасность</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div><img src="images/profile/quit.svg" alt=""></div>
                                        <h4>Выйти</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="chat">
                        <div class="chatHead">
                            <a href="chats.html" class="back"><img src="images/chat1/back.svg" alt=""> <span>Назад</span></a>
                            <div class="chatTitle">
                                <h3>Обсуждение (политика)</h3>
                                <p>34 человека в группе</p>
                            </div>
                            <chat class="chatActions">
                                <div><img src="images/chats/call.svg" alt="call"></div>
                                <div class="tripleR"><img src="images/people/triple.svg" alt="call"></div>
                                <div class="group"><img src="images/chats/chat1.svg" alt="call"></div>
                            </chat>
                        </div>
                        <div class="chatBody">
                            <div class="message">
                                <div class="first">
                                    <a href="#"><img src="images/chat1/person1.svg" alt="ava"></a>
                                    <span>ЗдравствуйтеЗдравствуйте ЗдравствуйтеЗдравствуйте</span>
                                </div>
                                <span>Здравствуйте</span>
                            </div>
                            <div class="ownMessage">
                                <span>ЗдравствуйтеЗдравствуйте ЗдравствуйтеЗдравствуйте</span>
                                <span>Здравствуйте</span>
                            </div>
                            <div class="message">
                                <div class="first">
                                    <a href="#"><img src="images/chat1/person2.svg" alt="ava"></a>
                                    <span>ЗдравствуйтеЗдравствуйте ЗдравствуйтеЗдравствуйте</span>
                                </div>
                                <span>Здравствуйте</span>
                            </div>
                        </div>

                        <form action="" class="chatDown" id="introJs">
                            <div class="wrapperFile">
                                <input type="file" multiple>
                                <span><img src="images/chat1/files.svg" alt=""></span>
                            </div>
                            <input placeholder="Напишите сообщение"  type="text">
                            <div class="actions">
                                <button><img src="images/chat1/microfon.svg" alt="microfon"></button>
                                <button><img src="images/chat1/send.svg" alt="microfon"></button>
                            </div>
                        </form>
                    </section>

                    <section class="rightSide">
                        <div class="SortChat">
                            <ul>
                                <li class="chatActive">Все чаты</li>
                                <li>Непрочитанные</li>
                                <li>Архив</li>
                            </ul>
                        </div>
                        <div class="vote">
                            <h2>Голосование</h2>
                            <p class="text">Экономия электроэнергии. В Бишкеке будут веерно отключать уличное освещение В Бишкеке уличное освещение будет работать пофазно. Об этом сообщили в пресс-службе мэрии.</p>
                            <form action="" class="voteForm">
                                <div  class="radio">
                                    <input required type="radio" id="Choice1" name="build" value="yes">
                                    <label for="Choice1">Построить дом</label>
                                </div >

                                <div class="radio">
                                    <input type="radio" id="Choice2" name="build" value="no">
                                    <label for="Choice2">Отдать народу</label>
                                </div >
                                
                                <div class="radio">
                                    <input type="radio" id="Choice3" name="build" value="maybe">
                                    <label for="Choice3">Построить больницу</label>
                                </div >

                                <button type="submit">Голосовать</button>
                            </form>
                            <div class="rezalts rezaltsHide">
                                <h3>Результаты:</h3>
                                <div class="rezaltsRenge">
                                    <div class="rezaltsRengeE">
                                        <div class="title">
                                            <p>Удалить тик ток</p>
                                            <span>60%</span>
                                        </div>
                                        <div class="grey">
                                            <div class="orange"></div>
                                        </div>
                                    </div>
                                    <div class="rezaltsRengeE">
                                        <div class="title">
                                            <p>Отдать народу</p>
                                            <span>30%</span>
                                        </div>
                                        <div class="grey">
                                            <div class="orange"></div>
                                        </div>
                                    </div>
                                    <div class="rezaltsRengeE">
                                        <div class="title">
                                            <p>Простроить больницу</p>
                                            <span>10%</span>
                                        </div>
                                        <div class="grey">
                                            <div class="orange"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="js/app.js"></script>
<script src="js/vote.js"></script>
</html>