{% extends 'base.html' %}

{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/security.css' %}">
{% endblock %}

{% block content %}

        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li>
                                    <a href="indexActive.html">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Лента</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="chats.html">
                                        <div> <span>2</span><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Сообщения</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="delegats.html">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Делегаты</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="rubrics.html">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Рубрики</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>Профиль</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="profileSettings">
                            <h3>Настройки</h3>
                            <ul>
                                <li>
                                    <a href="settings.html">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>Настройки</h4>
                                    </a>
                                </li>
                                <li class="listActive">
                                    <a href="security.html">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>Безопасность</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div><img src="{% static 'images/profile/quit.svg' %}" alt=""></div>
                                        <h4>Выйти</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    
                    <section class="security">
                        <h3>Безопасность</h3>
                        <form action="" class="securityForm">
                            <div class="securityFormE">
                                <label for="email">Email:</label>
                                <input placeholder="bakyt_1234@gmail.com" id="email" name="email" type="email">
                                <button id="change">Изменить</button>
                            </div>
                           <a href="resetPassword.html">Сбросить пароль</a>
                            <div id="introJs" class="securityActions">
                                <input class="reset" type="reset" value="Отменить">
                                <input class="save" type="submit" value="Сохранить">
                            </div>
                        </form>
                    </section>

                    <section class="securityNav">
                        <h3>Настройки</h3>
                        <ul>
                            <li><a href="setting.html">Основные</a></li>
                            <li class="settingNavActive"><a href="security.html">Безопасность<a ></li>
                        </ul>
                    </section>
                </div>
            </div>
        </main>
    </div>
{% endblock %}