<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="fonts/Segoe/stylesheet.css">
    <link rel="stylesheet" href="fonts/Sora/stylesheet.css">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/success.css">
    <title>Kurultai beta</title>
</head>
<body>
    <div class="wrapper">
        <header id="headerJs">
            <div class="container">
                <div class="menuInner">
                    <a href="#"><div class="menuLogo"><img src="images/header/logo.svg" alt="logo"></div></a>
                    <form action="" class="search">
                        <div class="searchButton"><img src="images/header/search.svg" alt=""></div>
                        <input id="search" placeholder="Поиск обсуждений, людей..." type="search">
                    </form>
                    <div class="menuRight">
                        <div class="ava">
                            <a href="profile.html" class="avaImg"><img src="images/header/ava.svg" alt="image"></a>
                            <div class="avaArow"><img src="images/header/down.svg" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsE"><img src="images/header/setting.svg" alt="image"></div>
                            <div class="menuActionsE"><img src="images/header/lamp.svg" alt="image"></div>
                            <div class="menuActionsE"><img src="images/header/notification.svg" alt="image"></div>
                        </div >
                    </div>
                    <div class="menuBurger" id="menu">
                        <span></span>
                    </div>
                    <div class="burgerActive hide" >
                        <div class="ava forProfile" >
                            <div class="avaImg"><img src="images/header/ava.svg" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsEb"><img src="images/header/setting.svg" alt="image"></div>
                            <div class="menuActionsEb"><img src="images/header/lamp.svg" alt="image"></div>
                            <div class="menuActionsEb"><img src="images/header/notification.svg" alt="image"></div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="main">
                    <section class="success">
                        <div class="galka"><img src="images/security/Icon.png" alt="galka"></div>
                        <h1>Пароль был успешно изменён</h1>
                        <a href="index.html">Назад в главную</a>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>